{% extends '@App/Website/base.html.twig' %}

{% block body %}

    <section class="text-center imagebg space--lg height-30" data-overlay="3">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="background" src="{{ asset('bundles/app/img/sleuteloverdracht.jpeg') }}" style="vertical-align: middle;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Pagina niet gevonden!</h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="text-center height-40">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-8">
                    <h1>Helaas, de gevraagde pagina bestaat niet!</h1>
                    <p>Dat kan zijn, omdat de pagina niet bestaat, je een typefout hebt gemaakt of de pagina tijdelijk niet kan worden opgevraagd. Wat je nu kunt doen is:</p>
                    <p>Controleer het adres. Heb je een typefout gemaakt? Herstel die dan en probeer het opnieuw. Werkt het nog steeds niet? Klik dan <a href="{{ path('homepage') }}">hier</a> om naar de homepage te gaan.</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}
