.logo-title
{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 36px;
}

.logo-title:hover
{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.logo-title-small
{
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.logo-title-small .small {
    font-size: 11px;
    float: right;
}

#menu1
{
    padding-top: 30px;
}

svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.bar-1 .menu-horizontal > li > .dropdown__trigger, .bar-1 .menu-horizontal > li > a
{
    font-size: 14px;
}

.menu-horizontal > li:not(:hover) > a, .menu-horizontal > li:not(:hover) > span, .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger
{
    opacity: 1;
}

li {
    list-style: circle;
    margin-left: 20px;
}

h1, h2 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
}

.bar__module .small {
    font-size: 11px;
    float: right;
}

.menu-horizontal li {
    list-style: none;
    text-align: center;
    margin: 10px 0;
}