<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Entreegebied | {{ apartment.address }} {{ apartment.housenumber }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd  “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.">
    <link rel="shortcut icon" href="{{ asset('bundles/app/img/favicon.ico') }}" />
    <meta name="robots" content="noindex, nofollow">
    <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/stack-interface.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/socicon.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/flickity.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/iconsmind.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/jquery.steps.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/font-rubiklato.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700%7CRubik:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132224118-12"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132224118-{{ apartment.analytics }}');
    </script>
</head>
<body>
<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-2">
                    <a href="{{ path('homepage') }}" class="logo-title-small">
                        {#{{ apartment.address }} {{ apartment.housenumber }}#}
                        {#<span class="small">Aangeboden door ERA Van De Steege</span>#}
                        <img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" style="max-height: 75px;"/>
                    </a>
                </div>

                <div class="col-4 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 hidden-xs">
                    <div class="bar__module">
                        <a href="{{ path('homepage') }}" class="logo-title">
                            <img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" style="max-height: 125px;"/>
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-8 col-md-12 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            {% if apartment.domain != 'localhost' and apartment.domain != 'ijsselmeerstraat.nl' %}
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('project') }}">
                                        Project en Omgeving
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('woning') }}">
                                        De woning
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">
                                        Contact
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="bar__module" style="margin-top: 30px;">
                        <a class="btn btn--sm btn--primary type--uppercase" href="tel:0204357040">
                            <span class="btn__text">
                                Bel nu: 020 - 435 7040
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
<div class="main-container">

    {% block body %}

    {% endblock %}

    <footer class="text-center-xs space--xs bg--dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {% if apartment.domain != 'localhost' and apartment.domain != 'ijsselmeerstraat.nl' %}
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('project') }}">
                                    <span class="h6 type--uppercase">Project en omgeving</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('woning') }}">
                                    <span class="h6 type--uppercase">De woning</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">
                                    <span class="h6 type--uppercase">Interesse?</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="col-md-5 text-right text-center-xs">
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-7">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> {{ apartment.address }} {{ apartment.housenumber }} - Dit project wordt u aangeboden door ERA Van De Steege. </span>
                    {#<a class="type--fine-print" href="#">Privacy Policy</a>#}
                    {#<a class="type--fine-print" href="#">Algemene voorwaarden</a>#}
                </div>
                <div class="col-md-5 text-right text-center-xs">
                    <img src="{{ asset('bundles/app/img/logo-ijsselmeerstraat.jpg') }}" style="max-height: 30px;"/>
                    {#<a class="type--fine-print" href="#">info@hoekstraenvaneck.nl</a>#}
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>
<!--<div class="loader"></div>-->
{#<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">#}
    {#<i class="stack-interface stack-up-open-big"></i>#}
{#</a>#}
<script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/flickity.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/easypiechart.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/parallax.js') }}"></script>
<script src="{{ asset('bundles/app/js/typed.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/datepicker.js') }}"></script>
<script src="{{ asset('bundles/app/js/isotope.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/ytplayer.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/granim.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.steps.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/countdown.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/twitterfetcher.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/spectragram.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/smooth-scroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/scripts.js') }}"></script>
</body>
</html>
