{#{% extends 'AppBundle:Website:base.html.twig' %}#}
{% extends '@App/Website/base.html.twig' %}

{% block title %}Contact | {% endblock %}

{% block body %}

    <section class="text-center imagebg space--lg height-40" data-overlay="3">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="background" src="{{ asset('bundles/app/img/sleuteloverdracht.jpeg') }}" style="vertical-align: middle;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Interesse?</h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="text-center bg--secondary" style="padding-top: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="boxed boxed--border">
                        <h3>Wilt u meer informatie over de woning?</h3>
                        <p>
                            Neem dan contact met ons op middels het onderstaand contactformulier <br/>of bel <a href="tel:0204357040">020 - 435 7040</a> voor meer informatie.
                        </p>
                        <hr>
                        <form action="{{ path('contact') }}" method="POST" class="text-left form-email row mx-0" novalidate="" data-success-redirect="{{ path('contact') }}">
                            <div class="col-md-12">
                                {% set contactform = false %}

                                {% for type, messages in app.session.flashbag.all %}
                                    <div class="alert bg--{{ type }}">
                                        <div class="alert__body" style="text-align: center;">
                                            {% for message in messages %}
                                                <span>{{ message }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% if type == 'success' %}
                                        {% set contactform = true %}
                                    {% endif %}

                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <span>Voornaam (verplicht):</span>
                                <input type="text" name="firstname" class="validate-required">
                            </div>
                            <div class="col-md-6">
                                <span>Achternaam (verplicht):</span>
                                <input type="text" name="lastname" class="validate-required">
                            </div>
                            <div class="col-md-6">
                                <span>E-mail adres (verplicht):</span>
                                <input type="email" name="email" class="validate-required validate-email">
                            </div>
                            <div class="col-md-6">
                                <span>Telefoonnummer (verplicht):</span>
                                <input type="text" name="phone" class="validate-required">
                            </div>
                            <div class="col-md-12">
                                <span>Uw bericht:</span>
                                <textarea rows="5" name="message"></textarea>
                            </div>
                            <div class="col-md-12 boxed">
                                <button type="submit" class="btn btn--primary type--uppercase">Verstuur contactverzoek</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="boxed boxed--border">
                        <h3>ERA Van De Steege</h3>
                        <p>
                            Buikslotermeerplein 418<br/>1025 WP Amsterdam
                        </p>

                        <p>
                            020-4357040<br/>
                            projecten@vandesteege.nl<br/>
                            www.vandesteege.nl
                        </p>
                        <a href="https://www.vandersteege.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" class="img-fluid" style="max-height: 75px;" /></a>
                    </div>
                    <div class="boxed boxed--border">
                        <h3>Openingstijden</h3>
                        <div class="row">
                            <div class="col-5">
                                Maandag:<br/>
                                Dinsdag:<br/>
                                Woensdag:<br/>
                                Donderdag:<br/>
                                Vrijdag:<br/>
                                Zaterdag:<br/>
                                Zondag:<br/>
                            </div>
                            <div class="col-7">
                                8.30 uur - 17.30 uur<br/>
                                8.30 uur - 17.30 uur<br/>
                                8.30 uur - 17.30 uur<br/>
                                8.30 uur - 17.30 uur<br/>
                                8.30 uur - 17.30 uur<br/>
                                Gesloten<br/>
                                Gesloten<br/>
                            </div>
                        </div>
                        {#<p>#}
                            {#Maandag:	8.30 uur - 17.30 uur#}
                            {#Dinsdag:	8.30 uur - 17.30 uur#}
                            {#Woensdag:	8.30 uur - 17.30 uur#}
                            {#Donderdag: 	8.30 uur - 17.30 uur#}
                            {#Vrijdag: 	8.30 uur - 17.30 uur#}
                            {#Zaterdag:	Gesloten (m.u.v. Open Huizen Route)#}
                            {#Zondag: 	Gesloten#}
                        {#</p>#}
                    </div>
                </div>
            </div>

            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vinkbouw.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vinkbouw-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vandersteege.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" class="img-fluid" style="max-height: 75px;" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        {% if apartment.waarborgCertificaat == 'Ja' %}
                            <a href="https://www.woningborggroep.nl/" target="_blank"><img src="{{ asset('bundles/app/img/partners/woningborg-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                            <p style="line-height: 1.4em; margin-top: 5px;"><i>Gebouwd met woningborg <br/>certificaat en garantie</i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}
