{#{% extends 'AppBundle:Website:base.html.twig' %}#}
{% extends '@App/Website/base.html.twig' %}

{% block body %}

{% if apartment.domain != 'localhost' and apartment.domain != 'ijsselmeerstraat.nl' %}

    <section class="text-center imagebg space--lg height-100" data-overlay="3">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="background" src="{{ asset('bundles/app/img/entreegebied-frontaal.jpg') }}" style="vertical-align: middle;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>{{ apartment.address }} {{ apartment.housenumber }}<br/> Entreegebied Amsterdam</h1>
                    <p class="lead">
                        {% if apartment.housetype == 'bovenwoning' %}
                            Op zoek naar een zeer ruim en uniek appartement met een geweldig dakterras in landelijk Noord, dan is dit uw kans.
                        {% else %}
                            Op zoek naar een uniek appartement met een mooie tuin in landelijk Noord, dan is dit uw kans.
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% else %}

    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Wonen in een Entreegebied Amsterdam.</h1>
                    <p class="lead">
                        In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd "het Entreegebied". In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat. Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="masonry">
                        <div class="masonry-filter-container text-center row justify-content-center align-items-center">
                            <span>Sorteer op woningtype:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="All Categories"><ul><li class="active" data-masonry-filter="*">Alle woningen</li></ul></div>
                                {#<div class="masonry__filters" data-filter-all-text="Alle categoriën"><ul><li class="active" data-masonry-filter="*">Alle categoriën</li><li data-masonry-filter="bovenwoning">Bovenwoning</li><li data-masonry-filter="benedenwoning">Benedenwoning</li></ul></div>#}
                            </div>
                        </div>
                        <hr>
                        <div class="masonry__container row masonry--active" style="position: relative; height: 682.812px;">
                            {% for apartment in apartments %}

                                {% if apartment.domain != 'localhost' and apartment.domain != 'ijsselmeerstraat.nl' %}
                                    <div class="masonry__item col-lg-4 col-md-6 text-center filter-digital" data-masonry-filter="{{ apartment.housetype }}" style="position: absolute; left: 0px; top: 0px;">
                                        <div class="project-thumb">
                                            <a href="https://www.{{ apartment.domain }}" target="_blank">
                                                <img alt="{{ apartment.address }} {{ apartment.housenumber}}" class="border--round" src="{{ asset('bundles/app/img/voorgevels/Voorgevel-'~apartment.housenumber~'.png') }}">
                                            </a>
                                            <h4>{{ apartment.address|capitalize }} {{ apartment.housenumber }}</h4>
                                            <span>€ {{ apartment.price|number_format }} v.o.n.</span>
                                            <a href="https://www.{{ apartment.domain }}" target="_blank">Meer informatie over deze woning</a>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                        <!--end of masonry container-->
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endif %}

{% endblock %}
