{#{% extends 'AppBundle:Website:base.html.twig' %}#}
{% extends '@App/Website/base.html.twig' %}

{% block title %}Project en Omgeving | {% endblock %}

{% block body %}

    <section class="text-center imagebg space--lg height-40" data-overlay="3">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="background" src="{{ asset('bundles/app/img/3F_bovenwoning.png') }}" style="vertical-align: middle;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>Project en omgeving</h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Wonen in het Entreegebied Amsterdam.</h1>
                    <p class="lead">
                        In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd "het Entreegebied". In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat. Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    {#<section class="text-center imagebg space--lg height-100" data-overlay="1">#}
        {#<div class="background-image-holder">#}
            {#<img alt="background" src="{{ asset('bundles/app/img/entreegebied-frontaal.jpg') }}" style="vertical-align: middle;">#}
        {#</div>#}
    {#</section>#}

    <section class="imagebg videobg height-70 text-center" data-overlay="4">
        <video autoplay loop muted>
            {#<source src="{{ asset('bundles/app/video/ijsselmeerstraat.mp4') }}" type="video/webm">#}
            <source src="{{ asset('bundles/app/video/ijsselmeerstraat.mp4') }}" type="video/mp4">
            {#<source src="video/video.mp4" type="video/mp4">#}
            {#<source src="video/video.ogv" type="video/ogv">#}
        </video>
        {#<div class="background-image-holder">#}
            {#<img alt="image" src="poser.jpg" />#}
        {#</div>#}
        <div class="container pos-vertical-center">
            <h1>Oplevering gepland 2e kwartaal 2019</h1>
        </div>
    </section>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Entreegebied Amsterdam.</h1>
                    <blockquote>
                        {% if apartment.housetype == 'bovenwoning' %}
                            “ Op zoek naar nieuwbouw appartement en daar deze zomer al van kunnen genieten? Dan is dit uw kans. Een uniek appartement met een schitterend dakterras in landelijk Noord.”
                        {% else %}
                            “ Op zoek naar een uniek appartement met een mooie tuin in landelijk Noord , dan is dit uw kans.”
                        {% endif %}
                    </blockquote>
                </div>
            </div>
            <br/>
            <hr>
            <br/>

            <div class="row">
                <div class="col-md-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-1.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-1-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
                <div class="col-md-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-2.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-2-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
                <div class="col-md-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-3.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-3-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-4.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-4-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-5.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-5-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-6.jpg') }}" data-lightbox="gallerij">
                        <img alt="Thumb" src="{{ asset('bundles/app/img/locatie/Entreegebied-locatie-6-thumb.jpg') }}" />
                    </a>
                    <br/>
                </div>
            </div>
            <br/>
            <hr>
        </div>
        <!--end of container-->
    </section>

    <section class="text-center imagebg space--lg" data-overlay="1">
        <div class="background-image-holder">
            <img alt="background" src="https://www.vinkbouw.nl/images/made/3b0a0f1849c4c5f6/2018.12.20_Entreegebied_Vink_Bouw_(2)_2500x1406__1200_635_90_s_c1_c_c.jpg" style="vertical-align: middle;">
        </div>
    </section>



    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Entreegebied op de kaart</h1>
                    <blockquote>
                        “ Gelegen op 1 minuut rijafstand van de Ring A10 Amsterdam. Zo is alles dichtbij.”
                    </blockquote>
                    <hr>
                    <br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2434.9655114926977!2d4.960905502036647!3d52.389175527499994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1547135432315" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <br/><hr><br/>


            <div class="row">
                <div class="col-md-8">
                    <h2>Een woning naar smaak en wens.</h2>
                    <p class="lead">De woning wordt geheel casco opgeleverd wat u de mogelijkheid biedt deze geheel naar eigen smaak af te werken.</p>
                    <a class="btn btn--primary-2" href="{{ path('woning') }}">
                        <span class="btn__text type--uppercase">Lees meer over de woning</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vinkbouw.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vinkbouw-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vandersteege.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" class="img-fluid" style="max-height: 75px;"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        {% if apartment.waarborgCertificaat == 'Ja' %}
                            <a href="https://www.woningborggroep.nl/" target="_blank"><img src="{{ asset('bundles/app/img/partners/woningborg-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                            <p style="line-height: 1.4em; margin-top: 5px;"><i>Gebouwd met woningborg <br/>certificaat en garantie</i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


{% endblock %}