{#{% extends 'AppBundle:Website:base.html.twig' %}#}
{% extends '@App/Website/base.html.twig' %}

{% block title %}De Woning | {% endblock %}

{% block body %}

    <section class="text-center imagebg space--lg height-40" data-overlay="3">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="background" src="{{ asset('bundles/app/img/entreegebied-frontaal.jpg') }}" style="vertical-align: middle;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <h1>De woning</h1>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section style="margin-top: -40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ apartment.address }} {{ apartment.housenumber }}</h1>
                    <h2 style="margin-top: -25px;">1024ML Amsterdam</h2>
                    <h3 style="margin-top: -25px;">€{{ apartment.price|number_format }} v.o.n.</h3>
                    <i class="fas fa-caret-right"></i> <a href="{{ asset('bundles/app/documenten/plattegronden/' ~ apartment.typecode ~ '_' ~ apartment.housetype ~ '.pdf') }}" target="_blank">Download plattegrond (pdf)</a><br/>
                    {#<i class="fas fa-caret-right"></i> <a href="#">Download afbeeldingen pakket (zip)</a><br/>#}
                    {% if apartment.youtubeLink is not empty %}
                        <i class="fas fa-caret-right"></i> <a href="https://www.youtube.com/watch?v={{ apartment.youtubeLink }}" target="_blank">Bekijk 3D animatie op YouTube</a><br/>
                    {% endif %}
                    {#<i class="fas fa-caret-right"></i> <a href="#" target="_blank">Bekijk woning op website ERA Van De Steege</a><br/><br/>#}
                    {{ apartment.adText|raw }}
                    <p><i>Aan deze uitgave kunnen geen rechten worden ontleend. Wijzigingen zijn derhalve voorbehouden. Afbeeldingen, sfeerimpressies en plattegronden zijn impressies, bedoeld om een indruk te geven van de woningen en de woonomgeving.</i></p>
                </div>
                <div class="col-md-6">
                    {% if apartment.youtubeLink is not empty %}
                        <div class="video-cover border--round">
                            <div class="background-image-holder">
                                <img alt="image" src="{{ asset('bundles/app/img/entreegebied-frontaal.jpg') }}" />
                            </div>
                            <div class="video-play-icon video-play-icon--sm"></div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ apartment.youtubeLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div><!--end video cover-->
                    {% endif %}


                    <div class="masonry">
                        <div class="masonry-filter-container text-center row justify-content-center align-items-center" style="display: none;">
                            <span>Category:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="All Categories"><ul><li class="active" data-masonry-filter="*">All Categories</li><li data-masonry-filter="objects">Objects</li><li data-masonry-filter="Woning">People</li></ul></div>
                            </div>
                        </div>

                        {% if apartment.housenumber != '57-C' %}

                        <div class="masonry__container row masonry--active">
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Straatbeeld-voorzijde-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Straatbeeld-voorzijde-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Straatbeeld-voorzijde-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Straatbeeld-voorzijde-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Straatbeeld-voorzijde-3.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Straatbeeld-voorzijde-3.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Straatbeeld-voorzijde-4.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Straatbeeld-voorzijde-4.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Voorgevel-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Voorgevel-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Keuken-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Keuken-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Keuken-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Keuken-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Woonkamer-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Woonkamer-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Woonkamer-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Woonkamer-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Slaapkamer-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Slaapkamer-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Slaapkamer-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Slaapkamer-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Slaapkamer-3.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Slaapkamer-3.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Badkamer-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Badkamer-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Badkamer-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Badkamer-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Badkamer-3.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Badkamer-3.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                {% if apartment.housetype == 'bovenwoning' %}
                                    <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Dakterras-1.png') }}" data-lightbox="gallerij">
                                        <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Dakterras-1.png') }}" />
                                    </a>
                                {% else %}
                                    <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Achtertuin-1.png') }}" data-lightbox="gallerij">
                                        <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Achtertuin-1.png') }}" />
                                    </a>
                                {% endif %}
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Achtergevel-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Achtergevel-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/'~apartment.housenumber~'-resized/Achtergevel-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/'~apartment.housenumber~'-thumb/Achtergevel-2.png') }}" />
                                </a>
                            </div>
                        </div>

                        {% else %}

                        <div class="masonry__container row masonry--active">
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/63-A-resized/Straatbeeld-voorzijde-1.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/63-A-thumb/Straatbeeld-voorzijde-1.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/63-A-resized/Straatbeeld-voorzijde-2.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/63-A-thumb/Straatbeeld-voorzijde-2.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/63-A-resized/Straatbeeld-voorzijde-3.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/63-A-thumb/Straatbeeld-voorzijde-3.png') }}" />
                                </a>
                            </div>
                            <div class="masonry__item col-lg-4 col-12 filter-woning" data-masonry-filter="Woning">
                                <a href="{{ asset('bundles/app/img/63-A-resized/Straatbeeld-voorzijde-4.png') }}" data-lightbox="gallerij">
                                    <img alt="Thumb" src="{{ asset('bundles/app/img/63-A-thumb/Straatbeeld-voorzijde-4.png') }}" />
                                </a>
                            </div>
                        </div>

                        {% endif %}
                        <!--end masonry container-->
                    </div>

                    <br/>

                            <h4>Algemeen</h4>
                            <table class="table--alternate-row">
                                <tbody>
                                <tr>
                                    <td><strong>Vraagprijs</strong></td>
                                    <td>€{{ apartment.price|number_format }} v.o.n.</td>
                                </tr>
                                <tr>
                                    <td><strong>Status</strong></td>
                                    <td>{{ apartment.status }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Geplande oplevering</strong></td>
                                    <td>{{ apartment.deliveryDate }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Erfpachtcanon per jaar</strong></td>
                                    <td>€{{ apartment.erfpachtCanon|number_format }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Totaal verdiepingen</strong></td>
                                    <td>
                                        {% if apartment.houseType == 'benedenwoning' %}
                                            2 <br/><i>(begane grond en 1e verdieping)</i>
                                        {% else %}
                                            2 <br/><i>(2e verdieping, 3e verdieping en exclusief trappenhuis)</i>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if apartment.waarborgCertificaat == 'Ja' %}
                                    <tr>
                                        <td><strong>Woningborg-certificaat</strong> <br/><a href="https://www.woningborggroep.nl/woningborg/veelgestelde-vragen/woningborg-certificaat-woningborg-garantie/" target="_blank"><i>(Meer informatie)</i></a></td>
                                        <td>
                                            <i class="fas fa-check color--success"></i>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if apartment.houseType == 'benedenwoning' %}
                                    <tr>
                                        <td><strong>Tuin</strong></td>
                                        <td><i class="fas fa-check color--success"></i></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td><strong>Dakterras</strong></td>
                                        <td><i class="fas fa-check color--success"></i></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td><strong>Berging</strong></td>
                                    <td>
                                        <i class="fas fa-check color--success"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <h4>Woonoppervlaktes</h4>
                            <table class="table--alternate-row">
                                <tbody>
                                <tr>
                                    <td><strong>Totaal woonoppervlakte</strong></td>
                                    <td>{{ apartment.totalApartment }} m2</td>
                                </tr>
                                <tr>
                                    <td><strong>Woonkamer</strong></td>
                                    <td>{{ apartment.totalLivingRoom }} m2</td>
                                </tr>
                                <tr>
                                    <td><strong>Slaapkamer 1</strong></td>
                                    <td>{{ apartment.totalBedroom1 }} m2</td>
                                </tr>
                                <tr>
                                    <td><strong>Slaapkamer 2</strong></td>
                                    <td>{{ apartment.totalBedroom2 }} m2</td>
                                </tr>
                                <tr>
                                    <td><strong>Slaapkamer 3</strong></td>
                                    <td>{{ apartment.totalBedroom3 }} m2</td>
                                </tr>

                                {% if apartment.totalBedroom4 != 0 %}
                                    <tr>
                                        <td><strong>Slaapkamer 4</strong></td>
                                        <td>{{ apartment.totalBedroom4 }} m2</td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <td><strong>Keuken</strong></td>
                                    <td>{{ apartment.totalKitchen }} m2</td>
                                </tr>
                                <tr>
                                    <td><strong>Badkamer</strong></td>
                                    <td>{{ apartment.totalBathroom }} m2</td>
                                </tr>
                                </tbody>
                            </table>
                        <h4>Afwerking/meerwerkposten</h4>
                        <table class="table--alternate-row">
                            <tbody>
                            {% if apartment.stucwerk == 'Ja' %}
                                <tr>
                                    <td><strong>Stucwerk</strong></td>
                                    {% if apartment.housenumber == '60' %}
                                        <td>De wanden en de plafonds worden afgewerkt met glad stucwerk.</td>
                                    {% else %}
                                        <td>De wanden en de plafonds worden afgewerkt met glad stucwerk en gesausd.</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>Deuren/kozijnen</strong></td>
                                <td>{{ apartment.doortype }} <a href="{{ apartment.doorLink }}" target="_blank"><i>(Bekijk deuren)</i></a></td>
                            </tr>
                            <tr>
                                <td><strong>Ventilatie</strong></td>
                                <td>{{ apartment.ventilationType }}</td>
                            </tr>
                            <tr>
                                <td><strong>Videofoon</strong></td>
                                <td>{{ apartment.entranceSecurity }}</td>
                            </tr>
                            <tr>
                                <td><strong>Voordeurslot</strong></td>
                                <td>{{ apartment.entranceLock }}</td>
                            </tr>
                            {% if apartment.stairsProtection == 'Ja' %}
                                <tr>
                                    <td><strong>Trappenbescherminglaag</strong></td>
                                    <td><i class="fas fa-check color--success"></i> (t.b.v. bescherming stuk/verfwerk)</td>
                                </tr>
                            {% endif %}
                            {% if apartment.hotWaterForMachine == 'Ja' %}
                                <tr>
                                    <td><strong>Warmwater t.b.v. wasmachine aansluiting</strong></td>
                                    <td><i class="fas fa-check color--success"></i> (t.b.v. moderne apparatuur)</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
    </section>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Wilt u meer informatie over de woning?</h2>
                    <p class="lead">Neem dan contact met ons op middels het contactformulier<br/>of bel <a href="tel:0204357040">020 - 435 7040</a> voor meer informatie.</p>
                    <a class="btn btn--primary-2" href="{{ path('contact') }}">
                        <span class="btn__text type--uppercase">Neem nu contact met ons op</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vinkbouw.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vinkbouw-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <a href="https://www.vandersteege.nl" target="_blank"><img src="{{ asset('bundles/app/img/partners/vandesteege-logo.png') }}" class="img-fluid" style="max-height: 75px;"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        {% if apartment.waarborgCertificaat == 'Ja' %}
                            <a href="https://www.woningborggroep.nl/" target="_blank"><img src="{{ asset('bundles/app/img/partners/woningborg-logo.png') }}" class="img-fluid" style="max-height: 50px;"/></a>
                            <p style="line-height: 1.4em; margin-top: 5px;"><i>Gebouwd met woningborg <br/>certificaat en garantie</i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
{% endblock %}