<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De markante bakstenen gevel wordt uitgevoerd in handvormstenen in een aubergine tint. De aluminium kozijnen worden uitgevoerd in de kleur antraciet. Het appartement met een oppervlakte van ca. 128 m2 bestaat uit 2 verdiepingen die zijn gelegen op de 2de en 3de verdieping. De entree van deze woning geschiedt door middel van een eigen entree op de begane grond. De unieke buitenruimte bestaat uit een dakterras.</p>

<h4>2de verdieping</h4>
<p>Via de eigen entree komt u via een ruim trappenhuis met royale daglichttoetreding op de 2de verdieping. Hier bevindt zich de overzichtelijke overloop waar de 3 slaapkamers met een oppervlakte van ca. 8 m2, 10 m2 en 11 m2 en een extra kamer met een oppervlakte van ca. 5 m2 op uit komen. De L-vormige badkamer is centraal op deze verdieping gelegen en wordt in casco staat geleverd en biedt u de unieke mogelijkheid om deze naar geheel eigen wens af te werken.</p>

<h4>3de verdieping</h4>
<p>Via het royaal bemeten trapportaal komt u op de overloop van de  3de verdieping, die de scheiding vormt tussen de in casco staat op te leveren woonkeuken gelegen aan de achterzijde van het appartement en de woonkamer gelegen aan de voorzijde van het appartement. De casco oplevering van de keuken biedt u de unieke kans om zelf de stijl van de keuken uit te kiezen. Op de overloop bevindt zich tevens een separate toiletruimte die ook in casco staat zal worden geleverd. Vanuit de overloop heeft u via een vaste trap toegang tot het heerlijke en ruime (ca. 21m2) dakterras.</p>

<p>De kenmerken van deze woning op een rij :</p>

<ul>
    <li>2 laags appartement met royaal dakterras</li>
    <li>Dakterras ca. 21 m2</li>
    <li>Woonoppervlakte ca. 128 m2</li>
    <li>Separate berging in de tuin: ca. 5 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>5 kamers</li>
    <li>Woonkeuken</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De woning beschikt over een video intercominstallatie</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Erfpachtcanon per jaar € 1.379,--</li>
    <li>Uitgifte is geschiedt tegen een canon die om de 10 jaar wordt aangepast.</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>