<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De gevel heeft een eigentijdse uitstraling en wordt uitgevoerd in zwarte handvormstenen met een wat ruwere structuur. De aluminium kozijnen worden uitgevoerd in antraciet tinten. Het appartement met een oppervlakte van ca. 121 m2 bestaat uit 2 verdiepingen en een dakterras.</p>

<h4>2de Verdieping</h4>
<p>Via uw eigen entree op de begane grond, bereikt u via het ruime en lichte trapportaal de 2de verdieping met een ruime overloop. De 3 slaapkamers, zijn allen gesitueerd rond deze overloop. De casco badkamer die uit komt op de overloop, is vanuit elke slaapkamer goed bereikbaar en kan naar eigen smaak en inzicht worden afgewerkt. De 3 slaapkamers hebben een oppervlakte van respectievelijk ca. 17m2, 12 m2 en 6 m2. Een separaat toilet vindt u op de overloop.</p>

<h4>3e Verdieping</h4>
<p>Via de trap vanuit de 2de verdieping komt u uit op de open overloop die zorgt voor een vloeiende overgang van de woonkeuken naar de woonkamer. De woonkeuken met een oppervlakte van ongeveer 17 m2, gelegen aan de achterzijde van het appartement beschikt over openslaande deuren met een frans balkon. Deze woonkeuken wordt casco geleverd en kan naar uw eigen wens en smaak door uzelf worden afgebouwd.  De woonkamer, met een oppervlakte van ca. 24 m2, heeft een raam over de gehele breedte van de woonkamer wat zorgt voor een zee aan licht. Naast de overloop, tussen de woonkamer en de woonkeuken, bevindt zich een binnentuin. Vanuit deze binnentuin bereikt u via een vaste trap het ruime dakterras met een oppervlakte van ca. 16 m2.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met dakterras van ca. 16 m2</li>
    <li>Woonoppervlakte ca. 121 m2</li>
    <li>Separate berging op de begane grond van ca. 5 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Grote woonkeuken oppervlakte ca. 17 m2.</li>
    <li>Grote, lichte woonkamer, oppervlakte ca. 24 m2.</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>De woning beschikt over een video intercominstallatie</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Erfpachtcanon per jaar € 1.308,--</li>
    <li>Uitgifte is geschiedt tegen een canon die om de 10 jaar wordt aangepast.</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>