<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De opvallende kleurrijke gevel wordt uitgevoerd in een handvormsteen in een rijke schakering van oranje en donker grijze tinten. De aluminium kozijnen worden uitgevoerd in een bijpassende antraciet kleur. Het appartement met een oppervlakte van ca. 130 m2 bestaat uit 2 verdiepingen met een dakterras.</p>

<h4>2de Verdieping </h4>
<p>Op de begane grond komt u de woning binnen via een eigen entree die u rechtstreeks naar de 2de verdieping brengt. Hier vindt u de 3 ruime slaapkamers met oppervlaktes van ca. 8m2, ca. 12m2 en ca.16 m2 en de casco badkamer, allen grenzend aan de overloop. De L-vormige badkamer kunt u naar uw eigen wens af werken. Alle slaapkamers zijn voorzien van openslaande deuren met een frans balkon. Op de overloop bevindt zich een separaat toilet.</p>

<h4>3de Verdieping</h4>
<p>Via de trap vanuit de overloop komt u in de woonkeuken en de woonkamer die samen één geheel vormen en vrijwel de gehele 3de verdieping beslaan. De woonkamer met een oppervlakte van ca. 27 m2 beschikt over 3 raampartijen, allen met openslaande deuren en een frans balkon. De keuken heeft een oppervlakte van ca. 21 m2 wordt casco geleverd zodat u deze geheel naar eigen inzicht kunt inrichten en afwerken. Voorts bevindt zich hier een inpandige berging annex bijkeuken en een separaat toilet. Vanuit deze verdieping heeft u middels een vaste trap toegang tot het riante dakterras.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met dakterras van ca. 21 m2</li>
    <li>Woonoppervlakte ca. 130 m2</li>
    <li>Separate berging op de begane grond van ca. 5 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Voorzien van een videofoon</li>
    <li>Woonkamer en woonkeuken over vrijwel de gehele 3de verdieping</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Erfpachtcanon per jaar € 1.404,--</li>
    <li>Uitgifte is geschiedt tegen een canon die om de 10 jaar wordt aangepast.</li>
    <li>Het eerstvolgende erfpachttijdvak zal eindigen op 29 februari 2068</li>
</ul>