<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De gevel heeft een moderne uitstraling en wordt uitgevoerd in Preston strengpers bakstenen. De aluminium kozijnen worden uitgevoerd in het wit. Het appartement met een oppervlakte van ca. 130 m2 bestaat uit 2 verdiepingen met een dakterras.</p>

<h4>2de Verdieping</h4>
<p>Via uw eigen entree op de begane grond bereikt u de 2de verdieping waar zich de ruime overloop bevindt. Op deze verdieping bevinden zich de 3 royale slaapkamers met oppervlaktes van ca. 7m2, 11m2 en 16m3. De slaapkamer met een opp. van ca. 11m2 aan de achterzijde beschikt over een frans balkon met openslaande deuren. Centraal gelegen op de verdieping bevindt zich de badkamer welke casco aan u zal worden opgeleverd, wat u de mogelijkheid biedt deze geheel naar eigen smaak af te werken.</p>

<h4>3de Verdieping</h4>
<p>Via de trap vanuit de overloop komt u op deze zeer grote en ruime verdieping. Hier bevindt zich de grote woonkeuken die casco wordt geleverd. U kunt de keuken geheel naar eigen smaak en wens plaatsen. De woonkamer van ca. 27m2 is ruim en licht en vormt één geheel met de woonkeuken wat een mooi ruimtelijk effect heeft. De woonkamer is over de gehele zuid gevel voorzien van openslaande deuren met frans balkon. Op deze verdieping bevindt zich tevens het toilet. Via een vaste trap bereikt u het zonnige dakterras met een oppervlakte van ca. 20 m2.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met dakterras van ca. 20 m2</li>
    <li>Woonoppervlakte ca. 130 m2</li>
    <li>Separate berging op de begane grond van ca. 5 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Grote woonkeuken</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Uitgifte is geschiedt tegen een canon, die om de 10 jaar wordt aangepast</li>
    <li>Erfpachtcanon per jaar € 1.404,--</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>