<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De gevel heeft een moderne uitstraling en wordt uitgevoerd in Preston strengpers bakstenen. De aluminium kozijnen worden uitgevoerd in het wit. Het appartement met een oppervlakte van ca. 116 m2 bestaat uit 2 verdiepingen en beschikt over een tuin.</p>

<h4>Begane grond</h4>
<p>Een ruim entree brengt u in de U-vormige, casco op te leveren keuken die direct grenst aan de woonkamer. Omdat de keuken in casco staat aan u wordt geleverd kunt u zelf de stijl van uw keuken bepalen en deze aan laten sluiten bij de uitstraling van de andere ruimtes. Via een schuifpui over de gehele breedte van de woonkamer bereikt u de tuin. In deze ruime tuin bevindt zich een eigen berging met een oppervlakte van ca. 6m2. In de hal bevindt zich een separaat toilet wat in casco staat aan u wordt geleverd.</p>

<h4>Verdieping</h4>
<p>Via de trap vanuit de hal bereikt u de overloop op de verdieping waar de 3 slaapkamers, op uitkomen. De slaapkamers hebben oppervlaktes van respectievelijk ca. 7 m2, ca. 11 m2 en ca. 13 m2. De grote slaapkamer een de achterzijde beschikt over openslaande deuren met frans balkon. De centraal gelegen badkamer wordt casco geleverd. U kunt deze geheel naar uw eigen wensen afwerken.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met tuin</li>
    <li>Woonoppervlakte ca. 116 m2</li>
    <li>Berging in de tuin: ca. 6 m2</li>
    <li>Tuin opp. ca. 30 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Open keuken</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Videofoon aanwezig</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Erfpachtcanon per jaar € 1.243,--</li>
    <li>Uitgifte is geschiedt tegen een canon die om de 10 jaar wordt aangepast.</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>