<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De woning wordt voorzien van een moderne gevel uitgevoerd in zwart tinten. De kozijnen worden uitgevoerd in het wit, wat de woning een moderne en opvallende uitstraling geeft. Het appartement met een oppervlakte van ca. 130 m2 bestaat uit 2 verdiepingen en is voorzien van een dakterras.</p>

<h4>2de Verdieping </h4>
<p>Een eigen entree vanaf de begane grond brengt u direct naar de entree van uw woning op de 2de verdieping. Hier komt u in de grote overloop met toegang tot 3 slaapkamers en de badkamer. De badkamer wordt casco aan u geleverd en u  kunt deze geheel naar uw eigen smaak afwerken. Voorts bevindt zich hier een separaat toilet. De slaapkamers hebben een oppervlakte van ca. 6 m2 en ca. 12m2. De masterbedroom gelegen aan de voorzijde van het appartement heeft een oppervlakte van ca. 16 m2 en is voorzien van openslaande deuren met frans balkon.</p>

<h4>3de Verdieping </h4>
<p>Via de trap vanuit de overloop komt u direct in de volledig open verdieping waar zich de woonkeuken en de woonkamer bevinden die  samen één geheel vormen. Door het geheel open karakter van deze verdieping ervaart u hoe ruim dit appartement is. De geheel glazen voor – en achtergevel met schuifpui in het woon-en keukengedeelte geven dit appartement een enorme lichte en ruime uitstraling. Het terras , bereikbaar middels een vaste trap vanuit de 2de verdieping maakt het geheel af. De in casco staat te leveren keuken kunt u geheel naar eigen smaak afwerken. Een ideaal appartement voor mensen die van een ruim, licht en zonnig appartement houden.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met dakterras van ca. 22 m2</li>
    <li>Woonoppervlakte ca. 130 m2</li>
    <li>Separate berging op de begane grond van ca. 5 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Grote woonkeuken</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>Videofoon op voordeur</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Erfpachtcanon per jaar € 1.404,--</li>
    <li>Uitgifte is geschiedt tegen een canon die om de 10 jaar wordt aangepast.</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>