<h4>Het Entreegebied</h4>
<p>In het Oostelijke deel van Amsterdam Noord wordt een nieuwe woonwijk ontwikkeld genaamd “het Entreegebied”. In dit gebied worden verschillende type woningen gerealiseerd waardoor een gevarieerde wijk ontstaat.</p>

<h4>Ligging en Omgeving</h4>
<p>Het Entreegebied is gunstig gelegen in landelijk Noord nabij Durgerdam met zijn pittoreske dijkwoningen en het rustige en authentieke Schellingwoude. Het IJsselmeer is nooit ver weg. Op zoek naar vertier? Het hippe Noord ligt binnen handbereik. Het aanbod aan restaurants, cafés en verschillende culturele voorzieningen is de laatste tijd enorm toegenomen en breidt zich nog steeds uit. Diverse scholen, kinderopvang en sportvoorzieningen liggen in de directe omgeving.</p>
<p>Door de vele nieuwbouw die de afgelopen tijd in de directe omgeving is gerealiseerd en de opening van de Noord-Zuid lijn is Amsterdam Noord geliefder dan ooit. Winkelcentrum Waterlandplein en het winkelcentrum boven ‘t Y zijn vlak bij het Entreegebied gelegen. Deze beide winkelcentra bieden een uitgebreid palet aan winkels.</p>

<h4>Bereikbaarheid</h4>
<p>De strategische ligging bij de oprit naar de A-10 zorgt er voor dat u een directe verbinding heeft met diverse uitvalswegen. Met het openbaar vervoer is er een goede en directe verbinding met Amsterdam Centrum en Amsterdam Oost.</p>

<h4>Het appartement</h4>
<p>Aan de zuidkant van het entreegebied wordt een moderne aaneengesloten bebouwing gerealiseerd waarvan dit appartement onderdeel uit maakt. De levendige bakstenen gevel wordt uitgevoerd in handvormsteen van hoogwaardige kwaliteit in verschillende kleurnuances. De aluminium kozijnen worden uitgevoerd in de kleur antraciet. Het appartement met een oppervlakte van ca. 125 m2 bestaat uit 2 verdiepingen en heeft een mooie tuin met een separate berging.</p>

<h4>Begane grond</h4>
<p>Bij het betreden van de woning komt u direct in een ruime hal, waar zich een separaat toilet bevindt. Vanuit deze hal heeft u toegang tot de open keuken, die in casco staat wordt geleverd zodat u deze geheel naar eigen inzicht kan afwerken. Vanuit deze keuken met een oppervlakte van ca. 14 m2, komt u in de royale woonkamer met een oppervlakte van ca. 47 m2, die middels een schuifpui toegang geeft tot de tuin. De tuin heeft een oppervlakte van ca. 33 m2 en is voorzien van een eigen berging.</p>

<h4>Verdieping</h4>
<p>Via een trap vanuit de woonkamer komt u op de verdieping. Op deze verdieping bevinden zich de 3 slaapkamers en de badkamer. Alle slaapkamers zijn voorzien van openslaande deuren met frans balkon. De slaapkamers hebben oppervlaktes van respectievelijk ca. 8 m2, ca. 9 m2 en ca. 14 m2. De centraal gelegen badkamer wordt casco geleverd en is naar eigen inzicht af te werken.</p>

<p>De kenmerken van deze woning op een rij:</p>

<ul>
    <li>2 laags appartement met tuin</li>
    <li>Woonoppervlakte ca. 125 m2</li>
    <li>Berging in de tuin: ca. 5 m2</li>
    <li>Tuin opp. ca. 33 m2</li>
    <li>Oplevering 2de kwartaal 2019</li>
    <li>4 kamers</li>
    <li>Open keuken</li>
    <li>De woning wordt casco geleverd. Dit geldt o.a. voor de keuken, sanitaire ruimten, de wanden en de plafonds.</li>
    <li>De voordeur is voorzien van een videofoon</li>
    <li>De woning is aangesloten op Stadsverwarming.</li>
    <li>Vloerverwarming in gehele woning. De temperatuur kan per verdieping afzonderlijk van elkaar worden geregeld.</li>
    <li>Volledig geïsoleerd, EPC 0,4</li>
    <li>Grond uitgegeven in erfpacht</li>
    <li>Algemene Bepalingen voor voortdurende erfpacht van de Gemeente Amsterdam d.d. 2000 zijn van toepassing</li>
    <li>Uitgifte is geschiedt tegen een canon, die om de 10 jaar wordt aangepast</li>
    <li>Huidige erfpachtcanon per jaar € 1.127,--</li>
    <li>Einde huidige erfpachttijdvak februari 2068</li>
</ul>